<section class="max-w-screen-2xl lg:min-h-[900px] relative mx-auto">
  <!-- circle gradient -->
  <div
    class="w-[551px] z-10 top-[-206px] absolute h-[551px] left-[-104px] rounded-full blur-[18px] bg-[linear-gradient(131.72deg,#09625E_22.19%,rgba(2,52,70,0.31)_80.23%)]"
  >
  </div>

  <!-- square gradient -->
  <div
    class="w-[278px] right-[40px] top-[40px] absolute -rotate-180 h-[278px] bg-[linear-gradient(47.67deg,#09625E_-75.68%,rgba(9,98,94,0)_38.14%)]"
  >
  </div>

  <!-- square gradient -->
  <div
    class="w-[278px] left-[40px] bottom-[40px] absolute h-[278px] bg-[linear-gradient(47.67deg,#09625E_-75.68%,rgba(9,98,94,0)_38.14%)]"
  >
  </div>

  <div class="absolute left-[250px] top-[400px]">
    <div class="relative">
      <img src="/rocket.png" alt="Rocket" class="absolute -left-20 -top-16" />
      <h1 class="text-gray-50 leading-[110%] max-w-[405px] text-[70px]">
        Komunitas Teknologi
      </h1>
      <h3 class="text-gray-300 text-2xl leading-[130%] mt-[10px]">
        Universitas Hasyim Asy'ari
      </h3>
    </div>
  </div>
  <div class="absolute bottom-0 -right-36">
    <div class="relative">
      <div
        class="bg-[#DC1D1D] top-[50px] absolute -z-10 left-[33px] w-[141px] h-[141px] rounded-full blur-[50px]"
      >
      </div>
      <img class="max-w-[725px]" src="/astroman.png" alt="" />
    </div>
  </div>
</section>
