---
import Menu from "./Menu.astro";
---

<nav
  class="absolute z-20 left-0 right-0 flex items-start justify-between mx-auto max-w-screen-2xl top-8"
>
  <a class="text-gray-50 leading-none text-[32px] ml-12">Dev Unhasy</a>
  <Menu />
  <div></div>
</nav>
