---
import Nav from "../components/landing-page/nav/index.astro";
import Home from "../components/landing-page/sections/Home.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hello">
  <main class="relative">
    <Nav />
    <Home />
  </main>
</Layout>
